/*
    Step 31
    CSS :resources/static/css
    CSS의 홈 /css
*/

html, body { max-width:100%; overflow-x:hidden;}
body{
	height:100%;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	position:relative;
}

table { border-collapse: collapse; }
.row { line-height:200%; min-width:100%; min-height:30px; height:auto; padding-top:5px; border:0px solid #FFFFFF; }
.rowLine { line-height:200%; min-width:100%; min-height:30px; border-bottom:1px dotted #DDDDDD; height:auto; }
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width:0;
}

.test { color:#FF0000; }