{{>layout/header}}

    <div class="row">
        <div class="col text-primary">
            <h4>Mustache Test</h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary" onClick="location.href='/posts/save' ">
                <span class="material-icons align-text-bottom">settings</span> 글쓰기
            </button>
        </div>

        <div class="col text-right">
            {{#userName}}
                <button type="button" class="btn btn-success" onClick="location.href='/logout' ">로그아웃</button>
            {{/userName}}
            {{^#userName}}
                <button type="button" class="btn btn-primary" onClick="location.href='/oauth2/authorization/google">구글</button>
            {{/userName}}
        </div>
    </div>

    <!--
        순서, 제목, 작성자, (내용), 최종수정일
        DB에서 목록을 가져와서 반복해서 뿌려준다.

            for, while()
    -->

    <div class="row rowLine">
        <div class="col-1">번호</div>
        <div class="col-6">제목</div>
        <div class="col-2">작성자</div>
        <div class="col-2">수정일</div>
    </div>

    <!--
        for(int value : array) {

        }

        Container : List
    -->
    {{#posts}}
        <div class="row rowLine">
            <div class="col-1">{{id}}</div>
            <div class="col-6"><a href="/posts/update/{{id}}"> {{title}}</a></div>
            <div class="col-2">{{author}}</div>
            <div class="col-2">{{modifiedDate}}</div>
        </div>
    {{/posts}}



{{>layout/footer}}

