{{>layout/header}}

    <div class="row">
        <div class="col text-primary">
            <h4>Mustache Test</h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary" id="btn-save">글쓰기</button>
        </div>
    </div>



{{>layout/footer}}

