{{>layout/header}}

    <div class="row">
        <div class="col">
            Mustache Test
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary" onClick="location.href='location.href='/posts/save' ">글쓰기</button>
        </div>
    </div>



{{>layout/footer}}

