{{>layout/header}}

<div class="row">
    <div class="col text-primary">
        <h4>글쓰기</h4>
    </div>
</div>

제목 : _____________<br>
이름 : _____________<br>
내용 : _____________<br>

{{>layout/footer}}
