{{>layout/header}}

<div class="row">
    <div class="col text-primary">
        <h4>글쓰기</h4>
    </div>
</div>

<form>
    <div class="row rowLine">
        <div class="col-3 col-md-2">제목</div>
        <div class="col-9 col-md-10">
            <input type="text" id="title" placeholder="제목 입력" required class="form-control">
        </div>
    </div>

    <div class="row rowLine">
        <div class="col-3 col-md-2">작성자</div>
        <div class="col-9 col-md-10">
            <input type="text" id="author" placeholder="실명을 입력하세요"  required class="form-control">
        </div>
    </div>

    <div class="row rowLine">
        <div class="col-3 col-md-2">내용</div>
        <div class="col-9 col-md-10">
                <textarea id="content" class="form-control" rows="15">

                </textarea>
        </div>
    </div>

    <div class="row rowLine">
        <div class="col text-center">
            <button type="button" class="btn btn-primary" id="btn-save">완료</button>
        </div>
    </div>
</form>

{{>layout/footer}}
